In [1]:
# get the environment
import sys
import os
print(sys.version)
print(sys.executable)

3.7.7 (default, May  6 2020, 11:45:54) [MSC v.1916 64 bit (AMD64)]
C:\Users\bbutler\Documents\Anaconda3\envs\timeseries\python.exe

In [2]:
# Base libraries
import PyQt5
import pandas as pd
from pandas import Series, DataFrame

import numpy as np

import os
import math
from itertools import cycle

# plotting libraries
import matplotlib.pyplot as plt
import seaborn as sns

from matplotlib.pyplot import figure

# stats models tools
import statsmodels.api as sm

# Dickey-Fuller test for stationarity
from statsmodels.tsa.stattools import adfuller

# seasonal decomposition
from statsmodels.tsa.seasonal import seasonal_decompose

# for expanding plots
from pylab import rcParams


# ignore harmless warnings
import warnings
warnings.filterwarnings('ignore')

# get the time series module
import timeseries_module as ts
import timeseries_module_v1 as ts1

# import more libraries

import statsmodels.api as sm
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.ar_model import AR, ARResults
from statsmodels.tsa.arima_model import ARMA, ARIMA, ARMAResults, ARIMAResults
from statsmodels.tsa.statespace.sarimax import SARIMAX, SARIMAXResults

from statsmodels.tools.eval_measures import mse, rmse


from pylab import rcParams

In [5]:
myPath = os.path.join('C:\\', 'Users', 'bbutler', 'Documents\DigitalAnalytics')

os.chdir(myPath)

data = pd.read_csv('HelocTermsMulti.csv',index_col='Week', parse_dates=True)

data.columns = ['equity_loan', 'home_equity']

conversions = pd.read_csv('HELOCKWConversion.csv',index_col='Week', parse_dates=True)

# merge the data frame


combined = pd.concat([data, conversions], axis = 1)
combined.head()

,equity_loan,home_equity,home_equity_google,equity_loan_google,home_equity_bing,equity_loan_bing,Unnamed: 5,Unnamed: 6
Week,,,,,,,,
2017-01-01,43,56,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-08,29,42,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-15,40,59,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-22,21,45,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-29,45,68,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
combined['equity_loan_both'] = combined['equity_loan_google'] + combined['equity_loan_bing']
combined['home_equity_both'] = combined['home_equity_google'] + combined['home_equity_bing']
combined

,equity_loan,home_equity,home_equity_google,equity_loan_google,home_equity_bing,equity_loan_bing,Unnamed: 5,Unnamed: 6,equity_loan_both,home_equity_both
Week,,,,,,,,,,
2017-01-01,43,56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-08,29,42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-15,40,59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-22,21,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-29,45,68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2020-07-12,28,40,0.0,11.11,0.00,0.0,NaN,NaN,11.11,0.00
2020-07-19,40,71,0.0,11.76,0.00,100.0,NaN,NaN,111.76,0.00
2020-07-26,26,43,0.0,0.00,16.67,0.0,NaN,NaN,0.00,16.67
2020-08-02,39,59,0.0,0.00,33.33,0.0,NaN,NaN,0.00,33.33
2020-08-09,44,44,0.0,0.00,0.00,0.0,NaN,NaN,0.00,0.00