In [1]:
# standard libraries
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
import os
import re

# plotting libraries
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# get the datetime library for date & time calcs
from datetime import datetime, timedelta

In [2]:
# load the the main data sets
wideData = os.path.normpath('C:/Users/n846490/Documents/Python Scripts/SurvivalAnalysis/DataForRollupCleanState.csv')
rollupData = pd.read_csv(wideData)

In [3]:
# create an open function
# this is applied to the closed column

def open(row):
    if row == 0:
        return int(1)
    else:
        return int(0)

In [4]:
# now apply the function to create a new column called open

rollupData['Open'] = rollupData['Closed'].apply(open)

rollupData.head(10)

,Unnamed: 0,Dateopened,Persontype,Personcode,Channel,State,End_Date,Observed,Cleancuststart,Custyears,...,Odloc,Other,Other_Loan,Safe_Box,Savings,CustID,Footprint,MonthYear,NumProducts,Open
0,0,1901-01-01,F,151863,Branch,PA,2016-12-15,1,1901-01-01,116.032877,...,0.0,0.0,0.0,0.0,1.0,F151863,In,Jan-01,1.0,0
1,1,1908-01-01,F,1479342,Branch,MA,2016-12-15,1,1908-01-01,109.030137,...,0.0,0.0,0.0,0.0,0.0,F1479342,In,Jan-08,1.0,0
2,2,1911-11-01,F,59901,Branch,NJ,2016-12-15,1,1911-11-01,105.194521,...,0.0,0.0,0.0,0.0,0.0,F59901,In,Nov-11,1.0,0
3,3,1911-11-11,F,105460,Branch,NJ,2016-12-15,1,1911-11-11,105.167123,...,0.0,0.0,0.0,0.0,0.0,F105460,In,Nov-11,1.0,0
4,4,1911-11-11,F,73177,Branch,NJ,2016-12-15,1,1911-11-11,105.167123,...,0.0,0.0,0.0,0.0,0.0,F73177,In,Nov-11,1.0,0
5,5,1911-11-11,F,59700,Branch,NJ,2016-12-15,1,1911-11-11,105.167123,...,0.0,0.0,0.0,0.0,0.0,F59700,In,Nov-11,1.0,0
6,6,1913-04-01,F,815521,Branch,MA,2016-12-15,1,1913-04-01,103.778082,...,0.0,0.0,0.0,0.0,0.0,F815521,In,Apr-13,1.0,0
7,7,1915-01-01,F,663818,Branch,MA,2016-12-15,1,1915-01-01,102.024658,...,0.0,0.0,0.0,0.0,0.0,F663818,In,Jan-15,1.0,0
8,8,1919-10-10,F,2424764,Branch,NY,2016-12-15,1,1919-10-10,97.249315,...,0.0,0.0,0.0,0.0,1.0,F2424764,In,Oct-19,1.0,0
9,9,1923-07-01,F,762200,Branch,MA,2016-12-15,1,1923-07-01,93.523288,...,0.0,0.0,0.0,0.0,0.0,F762200,In,Jul-23,1.0,0

In [5]:
# drop the unnamed column

rollupData.drop('Unnamed: 0', axis=1, inplace=True)

In [6]:
rollupData['OpenAccts'] = rollupData['Open'] * rollupData['NumProducts']

In [7]:
rollupData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4125509 entries, 0 to 4125508
Data columns (total 48 columns):
Dateopened                   object
Persontype                   object
Personcode                   int64
Channel                      object
State                        object
End_Date                     object
Observed                     int64
Cleancuststart               object
Custyears                    float64
Cleandateclosed              object
Productyears                 float64
Age                          float64
Customergroups               object
Closed                       int64
Auto                         float64
Business_Cd                  float64
Business_Checking            float64
Business_Money_Market        float64
Business_Odloc               float64
Business_Savings             float64
Cdira                        float64
Checking                     float64
Commercial_Loan              float64
Credit_Card                  float64
Commercial_Iolta             float64
Credit_Card.1                float64
Escrow_Savings               float64
Escrow_Standalone_Savings    float64
Home_Equity                  float64
Investments                  float64
Loan                         float64
Loanpersonal                 float64
Loansavings_Secured          float64
Loc                          float64
Locpersonal                  float64
Money_Market                 float64
Mortgage                     float64
Odloc                        float64
Other                        float64
Other_Loan                   float64
Safe_Box                     float64
Savings                      float64
CustID                       object
Footprint                    object
MonthYear                    object
NumProducts                  float64
Open                         int64
OpenAccts                    float64
dtypes: float64(33), int64(4), object(11)
memory usage: 1.5+ GB

In [8]:
# df[df["location"] == "c"].squeeze()
# this is used to investigate a single customer
# has 7 open accounts and 7 closed accounts
# therefore through the customer life, has had 14 accounts

rollupData[rollupData['CustID'] == 'F100001'].squeeze()

,Dateopened,Persontype,Personcode,Channel,State,End_Date,Observed,Cleancuststart,Custyears,Cleandateclosed,...,Other,Other_Loan,Safe_Box,Savings,CustID,Footprint,MonthYear,NumProducts,Open,OpenAccts
144715,1993-05-03,F,100001,Branch,PA,2016-12-15,0,1993-05-03,23.635616,NaN,...,0.0,0.0,0.0,0.0,F100001,In,May-93,1.0,1,1.0
149429,1993-08-13,F,100001,Branch,PA,2016-12-15,0,1993-05-03,23.635616,NaN,...,0.0,0.0,0.0,0.0,F100001,In,Aug-93,1.0,1,1.0
234921,1997-05-01,F,100001,Branch,PA,2016-12-15,1,1993-05-03,23.635616,2016-04-22,...,0.0,0.0,0.0,0.0,F100001,In,May-97,1.0,0,0.0
831571,2008-04-11,F,100001,Branch,PA,2016-12-15,1,1993-05-03,23.635616,2014-04-28,...,0.0,0.0,0.0,0.0,F100001,In,Apr-08,1.0,0,0.0
924180,2008-12-05,F,100001,Branch,PA,2016-12-15,1,1993-05-03,23.635616,2010-12-08,...,0.0,0.0,0.0,0.0,F100001,In,Dec-08,1.0,0,0.0
1019827,2009-07-29,F,100001,Branch,PA,2016-12-15,0,1993-05-03,23.635616,NaN,...,0.0,0.0,0.0,0.0,F100001,In,Jul-09,1.0,1,1.0
1056440,2009-10-29,F,100001,Branch,PA,2016-12-15,1,1993-05-03,23.635616,2014-02-27,...,0.0,0.0,0.0,0.0,F100001,In,Oct-09,1.0,0,0.0
1056601,2009-10-29,F,100001,Branch,PA,2016-12-15,1,1993-05-03,23.635616,2012-12-26,...,0.0,0.0,0.0,0.0,F100001,In,Oct-09,1.0,0,0.0
1260130,2010-12-08,F,100001,Branch,PA,2016-12-15,0,1993-05-03,23.635616,NaN,...,0.0,0.0,0.0,0.0,F100001,In,Dec-10,1.0,1,1.0
1261674,2010-12-10,F,100001,Branch,PA,2016-12-15,1,1993-05-03,23.635616,2010-12-16,...,0.0,0.0,0.0,0.0,F100001,In,Dec-10,1.0,0,0.0
1764768,2012-12-06,F,100001,Branch,PA,2016-12-15,0,1993-05-03,23.635616,NaN,...,0.0,0.0,0.0,0.0,F100001,In,Dec-12,1.0,1,1.0
1804831,2013-02-04,F,100001,Branch,PA,2016-12-15,0,1993-05-03,23.635616,NaN,...,0.0,0.0,0.0,0.0,F100001,In,Feb-13,1.0,1,1.0
3048090,2015-05-28,F,100001,Branch,PA,2016-12-15,1,1993-05-03,23.635616,2016-04-22,...,0.0,0.0,0.0,0.0,F100001,In,May-15,1.0,0,0.0
3694284,2016-04-22,F,100001,Branch,PA,2016-12-15,0,1993-05-03,23.635616,NaN,...,0.0,0.0,0.0,0.0,F100001,In,Apr-16,1.0,1,1.0

In [9]:
openAccts = rollupData.copy()

In [10]:
# need a function to multiply the open column by each column

# first get a list of the column names
# there are 48 columns
# len(products)

keyProducts = ['Cdira', 'Checking', 'Credit_Card', 'Investments', 'Mortgage', 'Savings']

for prod in keyProducts:
    
    # create the column header
    newName = prod + 'Open'
    
    # create the values in the new column
    openAccts[newName] = openAccts['Open'] * openAccts[prod]

In [11]:
openAccts.head(50)

,Dateopened,Persontype,Personcode,Channel,State,End_Date,Observed,Cleancuststart,Custyears,Cleandateclosed,...,MonthYear,NumProducts,Open,OpenAccts,CdiraOpen,CheckingOpen,Credit_CardOpen,InvestmentsOpen,MortgageOpen,SavingsOpen
0,1901-01-01,F,151863,Branch,PA,2016-12-15,1,1901-01-01,116.032877,2011-02-18,...,Jan-01,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1908-01-01,F,1479342,Branch,MA,2016-12-15,1,1908-01-01,109.030137,2013-01-02,...,Jan-08,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1911-11-01,F,59901,Branch,NJ,2016-12-15,1,1911-11-01,105.194521,2010-10-25,...,Nov-11,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1911-11-11,F,105460,Branch,NJ,2016-12-15,1,1911-11-11,105.167123,2011-06-30,...,Nov-11,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1911-11-11,F,73177,Branch,NJ,2016-12-15,1,1911-11-11,105.167123,2014-09-15,...,Nov-11,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1911-11-11,F,59700,Branch,NJ,2016-12-15,1,1911-11-11,105.167123,2011-06-30,...,Nov-11,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,1913-04-01,F,815521,Branch,MA,2016-12-15,1,1913-04-01,103.778082,2014-01-27,...,Apr-13,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,1915-01-01,F,663818,Branch,MA,2016-12-15,1,1915-01-01,102.024658,2012-04-24,...,Jan-15,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,1919-10-10,F,2424764,Branch,NY,2016-12-15,1,1919-10-10,97.249315,2010-10-18,...,Oct-19,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,1923-07-01,F,762200,Branch,MA,2016-12-15,1,1923-07-01,93.523288,2014-06-30,...,Jul-23,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,1926-05-24,F,2718131,Branch,NY,2016-12-15,1,1926-05-24,90.624658,2013-01-29,...,May-26,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,1927-06-30,F,4938566,Branch,NJ,2016-12-15,1,2013-12-17,2.997260,2014-06-02,...,Jun-27,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,1927-06-30,F,2383615,Branch,NY,2016-12-15,1,1927-06-30,89.523288,2014-06-02,...,Jun-27,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,1932-11-01,F,887628,Branch,MA,2016-12-15,1,1932-11-01,84.178082,2014-10-01,...,Nov-32,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,1933-12-10,F,159166,Branch,PA,2016-12-15,1,1933-12-10,83.071233,2011-02-05,...,Dec-33,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,1933-12-10,F,159167,Branch,PA,2016-12-15,1,1933-12-10,83.071233,2011-02-05,...,Dec-33,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,1934-01-01,F,1462488,Branch,MA,2016-12-15,1,1934-01-01,83.010959,2011-03-02,...,Jan-34,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,1936-10-30,F,2393783,Branch,NY,2016-12-15,1,1936-10-30,80.180822,2014-02-27,...,Oct-36,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,1937-02-28,F,3235159,Branch,RI,2016-12-15,1,1937-02-28,79.849315,2012-02-29,...,Feb-37,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,1937-09-27,F,4319228,Branch,MA,2016-12-15,1,2011-02-05,5.863014,2012-07-25,...,Sep-37,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,1938-09-26,F,2473220,Branch,NY,2016-12-15,1,1938-09-26,78.273973,2012-05-10,...,Sep-38,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,1939-01-01,F,1307504,Branch,MA,2016-12-15,1,NaN,NaN,2012-02-29,...,Jan-39,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,1940-02-19,F,20380,Branch,PA,2016-12-15,0,1940-02-19,76.873973,NaN,...,Feb-40,1.0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
23,1940-11-30,F,830673,Branch,MA,2016-12-15,1,NaN,NaN,2016-09-28,...,Nov-40,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,1940-11-30,F,688262,Branch,MA,2016-12-15,0,1940-11-30,76.093151,NaN,...,Nov-40,1.0,1,1.0,0.0,1.0,0.0,0.0,0.0,0.0
25,1941-01-01,F,2326858,Branch,NY,2016-12-15,1,1993-01-27,23.898630,2015-05-28,...,Jan-41,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,1942-01-22,F,29353,Branch,PA,2016-12-15,1,1942-01-22,74.947945,2012-12-20,...,Jan-42,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,1942-04-01,F,641336,Branch,MA,2016-12-15,1,1942-04-01,74.758904,2014-09-25,...,Apr-42,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,1942-05-01,F,639647,Branch,MA,2016-12-15,0,1978-05-01,38.652055,NaN,...,May-42,1.0,1,1.0,0.0,1.0,0.0,0.0,0.0,0.0
29,1942-08-01,F,706885,Branch,MA,2016-12-15,0,1942-08-01,74.424658,NaN,...,Aug-42,1.0,1,1.0,0.0,1.0,0.0,0.0,0.0,0.0
30,1942-08-13,F,20434,Branch,PA,2016-12-15,1,1942-08-13,74.391781,2016-12-13,...,Aug-42,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31,1942-10-01,F,1359142,Branch,MA,2016-12-15,0,1942-10-01,74.257534,NaN,...,Oct-42,1.0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
32,1943-01-01,F,1235614,Branch,MA,2016-12-15,1,1943-01-01,74.005479,2011-02-22,...,Jan-43,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33,1943-01-01,F,1235614,Branch,MA,2016-12-15,1,1943-01-01,74.005479,2011-02-22,...,Jan-43,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34,1943-03-01,F,716944,Branch,FL,2016-12-15,0,1943-03-01,73.843836,NaN,...,Mar-43,1.0,1,1.0,0.0,1.0,0.0,0.0,0.0,0.0
35,1943-12-17,F,3992661,Branch,NY,2016-12-15,1,1943-12-17,73.046575,2010-01-15,...,Dec-43,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36,1944-04-21,F,2383303,Branch,NY,2016-12-15,0,1944-04-21,72.701370,NaN,...,Apr-44,1.0,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0
37,1944-05-25,F,313607,Branch,NJ,2016-12-15,1,1944-05-25,72.608219,2013-06-25,...,May-44,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38,1944-06-01,F,653776,Branch,MA,2016-12-15,0,1944-06-01,72.589041,NaN,...,Jun-44,1.0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
39,1944-06-12,F,5101834,Branch,NY,2016-12-15,1,1944-06-12,72.558904,2015-04-06,...,Jun-44,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40,1945-01-01,F,637893,Branch,MA,2016-12-15,1,1945-01-01,72.002740,2014-03-19,...,Jan-45,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
41,1945-01-10,F,2383625,Branch,NY,2016-12-15,1,1945-01-10,71.978082,2013-12-16,...,Jan-45,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42,1945-05-01,F,653254,Branch,MA,2016-12-15,1,1945-05-01,71.673973,2013-09-09,...,May-45,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43,1945-09-04,F,127875,Branch,PA,2016-12-15,1,2007-01-02,9.958904,2014-10-24,...,Sep-45,1.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44,1945-10-31,F,2703678,Branch,NY,2016-12-15,0,1945-10-31,71.172603,NaN,...,Oct-45,1.0,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0
45,1945-11-19,F,56493,Branch,PA,2016-12-15,0,NaN,NaN,NaN,...,Nov-45,1.0,1,1.0,0.0,1.0,0.0,0.0,0.0,0.0
46,1946-01-01,F,643030,Branch,MA,2016-12-15,0,1982-01-22,34.920548,NaN,...,Jan-46,1.0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
47,1946-01-01,F,4358358,Branch,MA,2016-12-15,0,2011-03-16,5.756164,NaN,...,Jan-46,1.0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
48,1946-02-01,F,629750,Branch,MA,2016-12-15,0,1946-02-01,70.917808,NaN,...,Feb-46,1.0,1,1.0,0.0,1.0,0.0,0.0,0.0,0.0
49,1946-03-12,F,2739715,Branch,NY,2016-12-15,0,1946-03-12,70.810959,NaN,...,Mar-46,1.0,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0

In [36]:
# perform the aggregation
groupedOpen = openAccts.groupby(['CustID', 'State', 'Channel', 'Age', 'Cleancuststart', 'Custyears' , 'Footprint'], as_index = False).sum()

In [38]:
groupedOpen.head()

,CustID,State,Channel,Age,Cleancuststart,Custyears,Footprint,Personcode,Observed,Productyears,...,Savings,NumProducts,Open,OpenAccts,CdiraOpen,CheckingOpen,Credit_CardOpen,InvestmentsOpen,MortgageOpen,SavingsOpen
0,F10000,RI,Branch,52.0,1999-11-23,17.073973,In,30000,1,9.649315,...,0.0,3.0,2,2.0,0.0,1.0,0.0,0.0,0.0,0.0
1,F1000008,CT,Branch,60.0,2001-04-04,15.709589,In,6000048,2,10.684932,...,1.0,6.0,4,4.0,1.0,2.0,0.0,0.0,0.0,1.0
2,F100001,PA,Branch,73.0,1993-05-03,23.635616,In,1400014,7,35.463014,...,0.0,14.0,7,7.0,3.0,1.0,0.0,1.0,0.0,0.0
3,F1000013,MA,Branch,47.0,2001-04-04,15.709589,In,8000104,5,16.260274,...,0.0,8.0,3,3.0,0.0,1.0,1.0,0.0,1.0,0.0
4,F1000030,PA,Branch,56.0,2001-04-04,15.709589,In,4000120,1,10.663014,...,1.0,4.0,3,3.0,0.0,1.0,0.0,0.0,1.0,1.0

In [39]:
# get the critical columns

groupedOpenRed = groupedOpen[['CustID', 'State', 'Channel', 'Age', 'Cleancuststart', 'Custyears', 'Closed', 'Footprint', 'NumProducts', 'Open', 'OpenAccts', 'CdiraOpen','CheckingOpen',
                              'Credit_CardOpen', 'InvestmentsOpen', 'MortgageOpen', 'SavingsOpen']]

In [40]:
groupedOpenRed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 986604 entries, 0 to 986603
Data columns (total 17 columns):
CustID             986604 non-null object
State              986604 non-null object
Channel            986604 non-null object
Age                986604 non-null float64
Cleancuststart     986604 non-null object
Custyears          986604 non-null float64
Closed             986604 non-null int64
Footprint          986604 non-null object
NumProducts        986604 non-null float64
Open               986604 non-null int64
OpenAccts          986604 non-null float64
CdiraOpen          986604 non-null float64
CheckingOpen       986604 non-null float64
Credit_CardOpen    986604 non-null float64
InvestmentsOpen    986604 non-null float64
MortgageOpen       986604 non-null float64
SavingsOpen        986604 non-null float64
dtypes: float64(10), int64(2), object(5)
memory usage: 135.5+ MB

In [41]:
groupedOpenRed.head()

,CustID,State,Channel,Age,Cleancuststart,Custyears,Closed,Footprint,NumProducts,Open,OpenAccts,CdiraOpen,CheckingOpen,Credit_CardOpen,InvestmentsOpen,MortgageOpen,SavingsOpen
0,F10000,RI,Branch,52.0,1999-11-23,17.073973,1,In,3.0,2,2.0,0.0,1.0,0.0,0.0,0.0,0.0
1,F1000008,CT,Branch,60.0,2001-04-04,15.709589,2,In,6.0,4,4.0,1.0,2.0,0.0,0.0,0.0,1.0
2,F100001,PA,Branch,73.0,1993-05-03,23.635616,7,In,14.0,7,7.0,3.0,1.0,0.0,1.0,0.0,0.0
3,F1000013,MA,Branch,47.0,2001-04-04,15.709589,5,In,8.0,3,3.0,0.0,1.0,1.0,0.0,1.0,0.0
4,F1000030,PA,Branch,56.0,2001-04-04,15.709589,1,In,4.0,3,3.0,0.0,1.0,0.0,0.0,1.0,1.0

In [42]:
groupedOpenRed['OpenAccts'].quantile(.99)

11.0

In [43]:
groupedOpenRed.shape[0]

986604

In [44]:
groupedOpenRed['Closed'].describe()

count    986604.000000
mean          1.575128
std           2.610630
min           0.000000
25%           0.000000
50%           1.000000
75%           2.000000
max         554.000000
Name: Closed, dtype: float64

In [45]:
groupedOpenRed['Closed'].quantile(.99)

11.0

In [46]:
groupedOpenRed.groupby(['Closed']).agg({'Closed' : pd.Series.sum})

        Closed
Closed
0            0
1       224732
2       333266
3       197727
4       168384
5       125875
6        98742
7        79163
8        62176
9        48330
10       38710
11       30096
12       25104
13       20215
14       15316
15       13050
16       10096
17        8687
18        6300
19        5567
20        4840
21        4557
22        4026
23        2875
24        2544
25        2350
26        2080
27        1485
28        1344
29         812
...        ...
70          70
71          71
72          72
73          73
75         225
77          77
78          78
80          80
81         162
85          85
88          88
98          98
101        101
102        102
106        106
107        107
117        234
118        118
136        136
139        139
149        149
179        179
184        184
186        186
196        196
198        396
214        214
318        318
346        346
554        554

[94 rows x 1 columns]

In [47]:
# remove the extreme outliers in accounts open

# then create the filter on the state column
filter = groupedOpenRed['OpenAccts'] > 11

# keep all items not in the filter
groupedOpenClean = groupedOpenRed[~filter].copy()

In [48]:
groupedOpenClean['OpenAccts'].describe()

count    978541.000000
mean          2.285610
std           2.029191
min           0.000000
25%           1.000000
50%           2.000000
75%           3.000000
max          11.000000
Name: OpenAccts, dtype: float64

In [49]:
groupedOpenClean['Closed'].describe()

count    978541.000000
mean          1.524994
std           2.319488
min           0.000000
25%           0.000000
50%           1.000000
75%           2.000000
max         214.000000
Name: Closed, dtype: float64

In [50]:
os.getcwd()

'C:\\Users\\n846490\\Documents\\Python Scripts\\SurvivalAnalysis\\ChurnModelFiles'

In [51]:
os.chdir(os.path.normpath('C:/Users/n846490/Documents/Python Scripts/SurvivalAnalysis/ChurnModelFiles'))

In [52]:
groupedOpenClean.to_csv('keyProductsRollup.csv')